<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>{{name}}</mat-label>
  <ng-container *ngIf="formControlType!=='number';else numberInput">
    <input matInput [type]="formControlType" [formControl]="fControl">
  </ng-container>
  <ng-template #numberInput>
    <input matInput type='number' [formControl]="fControl">
  </ng-template>
  <button *ngIf="type==='password'" matSuffix mat-icon-button (click)="visibility = !visibility">
    <mat-icon>{{visibility?'visibility' :'visibility_off'}}</mat-icon>
  </button>
  <button *ngIf="fControl.value || ''" matSuffix mat-icon-button (click)="clearControl()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
