.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 250px;
}

.menu-item {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-weight: 500;

  display: flex;
  gap: 10px;
  align-items: center;

  & mat-icon {
    margin-right: 10px;
  }

  &:hover {
    background-color: #7b1fa2;
  }

}

:host ::ng-deep {

  & .mat-list-base {
    padding-top: 0px;
  }

  & .mat-drawer-backdrop {
    display: none;
  }

}

//logo animation
#dark1,
#dark2,
#light1 {
  transition: all 1s ease;
}


svg {
  #dark2 {
    transform: translateX(-100%);
  }

  &:hover {
    #light1 {
      transform: translateX(20%);
    }

    #dark1 {
      transform: translateX(40%);
      opacity: 0;
    }

    #dark2 {
      transform: translate(0%);
    }
  }

}
