$sidenavSize: 75px;

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: $sidenavSize;
}

.menu-item:hover {
  background-color: var(--primary-color);
}

.list-actions {
  position: relative;
  top: 40%;
  transform: translateY(-50%);

  a {
    height: 75px;
  }
}

:host ::ng-deep {

  & .mat-list-base {
    padding-top: 0px;
  }

  & .mat-drawer-backdrop {
    display: none;
  }

  .mat-list-item-content {
    display: flex;
    justify-content: center;
  }

}

//logo animation
#dark1,
#dark2,
#light1 {
  transition: all 1s ease;
}


svg {
  #dark2 {
    transform: translateX(-100%);
  }

  &:hover {
    #light1 {
      transform: translateX(20%);
    }

    #dark1 {
      transform: translateX(40%);
      opacity: 0;
    }

    #dark2 {
      transform: translate(0%);
    }
  }

}
