.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 250px;
}

.menu-item {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-weight: 500;
  font-size: 2em;
  gap: 10px;

  display: flex;
  align-items: center;

  & mat-icon{
    width: 35px;
    height: 35px;
    font-size: 35px;
    display: flex;
    align-items: center;
  }

  &:hover {
    background-color: #7b1fa2;
  }

}

// :host ::ng-deep {

//   & .mat-drawer-inner-container {
//     display: flex;
//     flex-direction: column;
//   }
// }
