<div class="spacer"></div>
<div class="container">

  <form [formGroup]="signInValues" class="form-group animationY">
    <app-input-field 
    [fControl]="getFControl('email')" 
    [name]="'Email'"
    >
  </app-input-field>
  
  <app-input-field 
    [fControl]="getFControl('password')" 
    [name]="'Password'"
    [type]="'password'"
    >
  </app-input-field>

  <button mat-raised-button color="primary" class="regular-btn"
      (click)="onSubmit()">
      Sign In
    </button>
    <button mat-raised-button class="regular-btn"
    [routerLink]="'/auth/sign-up'">
    Sign Up
  </button>

  </form>

</div>
