<form [formGroup]="signInValues" class="form-group">
  <app-input-field 
    [fControl]="getFControl('email')" 
    [name]="'Email'">
  </app-input-field>

  <app-input-field 
    [fControl]="getFControl('password')" 
    [name]="'Password'">
  </app-input-field>

  <button mat-raised-button color="primary" class="regular-btn main-btn"
    (click)="onSubmit()">
    Sign In
  </button>
  <button mat-raised-button class="regular-btn"
    [routerLink]="'/sign-up'">
    Sign Up
  </button>

</form>

