/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;

  margin-inline: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.mat-form-field {
  width: 100%;
}

button.regular-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.snackbar-success {
  background-color: #009944;
  color: #fff;
}

.snackbar-error {
  background-color: #cf000f;
  color: #fff;
}

html,
body,
.app,
app-root,
app-home {
  overflow: hidden;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  color: #e0e0e0;
}
