/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;

  margin-inline: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.mat-form-field {
  width: 100%;
}

button.regular-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100%;
}

.snackbar-success {
  background-color: #009944;
  color: #fff;
}

.snackbar-error {
  background-color: #cf000f;
  color: #fff;
}

html,
body,
.app,
app-root,
app-home {
  overflow: hidden;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  color: #e0e0e0;
}

.main-content {
  max-width: 450px;
  margin-inline: auto;
  padding: 1em;
}

.mat-expansion-panel-body {
  padding: 0 16px 16px !important;
}

.container {
  height: calc(100vh - 64px);
}

.logo-toolbar {
  gap: 10px;
  color: #7b1fa2;
  font-size: 35px;

  .img-svg {
    height: 50px;
  }
}

//******************* REMOVE UP DOWN ARROWS IN INPUT FIELD *******************
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
